<div class="page-terms">
  <section class="hero">
    <div class="container">
      <div class="kicker">{{hero.kicker}}</div>
      <h1>{{{hero.headlineHtml}}}</h1>
      <p class="hero-copy">{{{hero.copyHtml}}}</p>
    </div>
  </section>

  {{> terms-legal}}
</div>
