<section class="page-terms-main">
  <div class="container page-terms-columns">
    <aside class="page-terms-toc" aria-label="On this page">
      <div class="card page-terms-toc-card">
        <p class="page-terms-toc-label">On this page</p>
        <ul class="page-terms-toc-list">
          <li><a href="#privacy-intro">1) Introduction</a></li>
          <li><a href="#privacy-policy">2) Privacy Policy</a></li>
          <li><a href="#privacy-collect">3) Information we may collect from you</a></li>
          <li><a href="#privacy-use">4) Use of information</a></li>
          <li><a href="#privacy-security">5) Security</a></li>
          <li><a href="#privacy-cookies">6) Cookies and Fingerprinting</a></li>
          <li><a href="#privacy-control">7) Controlling your personal information</a></li>
          <li><a href="#privacy-rights">8) Your data protection rights</a></li>
          <li><a href="#privacy-complain">9) How to complain</a></li>
        </ul>
      </div>
    </aside>
    <div class="page-terms-articles">
      <article id="privacy-intro" class="page-terms-article">
        <h2 class="page-terms-h2">1) Introduction</h2>
        <div class="page-terms-body">
<p>a)&nbsp;This privacy policy (<strong>Policy</strong>) sets out how&nbsp;<strong>Onedb Service Delivery Limited&nbsp;</strong>(<strong>Onedb</strong>/<strong>We/Us</strong>) uses and protects any information that you (<strong>User, you, your</strong>) provide to us when you use our website www.anybuild.ai (Anybuild/<strong>Website/System/Platform</strong>) and/or our services (<strong>Services</strong>).</p><p>b)&nbsp;This Policy does NOT apply to&nbsp;<strong>Indirect Users</strong>&nbsp;where the User relationship is controlled by our Customer - who has used Anybuild to create their own Websites or Applications running on our platform. In such cases Users should refer to the Privacy Policy of the Customer.</p><p>c)&nbsp;Users may include&nbsp;<strong>Registered Users</strong>&nbsp;of the System and anonymous&nbsp;<strong>Unregistered Users</strong>&nbsp;such as casual browsers of www.anybuild.ai website.</p><p>d)&nbsp;Onedb Service Delivery Limited is a subsidiary of Onedb Online Limited, Other companies owned by the same Parent company are Related Companies, sometimes the generic term -&nbsp;<strong>Onedb Group</strong>&nbsp;may be use to refer to any related company including the Parent Company.&nbsp;</p><p>e)&nbsp;The Registered office for correspondence is: 76 Llangranog Rd, Cardiff, CF14 5BP or mail@onedb.online</p><p>f)&nbsp;<strong>Anybuild</strong>&nbsp;is a No-Code Business Software Platform which enables Business Applications to be built without having to write code.</p><p>g)&nbsp;This Policy does not Apply to any third party websites or services providers such as Payment Processors or Messaging Applications. Anybuild may provide API (Application Programming Interface) links or integrations to such services for the convenience of the User, the User should refer to the Privacy Policy of the third party provider before utilising such services.</p>
        </div>
      </article>

      <article id="privacy-policy" class="page-terms-article">
        <h2 class="page-terms-h2">2) Privacy Policy</h2>
        <div class="page-terms-body">
<p>a)&nbsp;We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this Website or our Services, then you can be assured that it will only be used in accordance with this Policy.</p>
        </div>
      </article>

      <article id="privacy-collect" class="page-terms-article">
        <h2 class="page-terms-h2">3) Information we may collect from you</h2>
        <div class="page-terms-body">
<p>a)&nbsp;Personal identification information such as name, job title, contact information including email address and telephone number, demographic information such as postcode, preferences and interests.</p><p>b)&nbsp;Information about your use of our Website and Services, including the type of browser you use, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</p>
        </div>
      </article>

      <article id="privacy-use" class="page-terms-article">
        <h2 class="page-terms-h2">4) Use of information</h2>
        <div class="page-terms-body">
<p>a)&nbsp;To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</p><p>b)&nbsp;To improve our Website and Services in order to better serve you.</p><p>c)&nbsp;To allow us to better service you in responding to your customer service requests.</p><p>d)&nbsp;To send periodic emails regarding our products or services.</p><p>e)&nbsp;To follow up with them after correspondence (live chat, email or phone inquiries)</p>
        </div>
      </article>

      <article id="privacy-security" class="page-terms-article">
        <h2 class="page-terms-h2">5) Security</h2>
        <div class="page-terms-body">
<p>a)&nbsp;We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p><p>b)&nbsp;We offer 2FA (Two Factor Authentication) as an option for improved security for users who wish to store sensitive information on our Platform.</p>
        </div>
      </article>

      <article id="privacy-cookies" class="page-terms-article">
        <h2 class="page-terms-h2">6) Cookies and Fingerprinting</h2>
        <div class="page-terms-body">
<p>a)&nbsp;Anybuild may use cookies or fingerprinting for users of our website, these are used to identify returning users of our site, they can make the experience of using our site more convenient for users because the system remembers previously entered information such as preferences for that particular user.</p><p>&nbsp;&nbsp;i)&nbsp;A cookie is a small text file which is stored by the Browser on your computer's hard drive. Anybuild typically just users a session cookie which is deleted when the user finishes their session. The session cookie is for the user’s convenience enabling the users to changes pages within the Application without constantly relogging in. If Anybuild uses a permanent Cookie tit will ask for the User's permission.</p><p>&nbsp;&nbsp;ii)&nbsp;As an alternative to Cookies, Anybuild may uses a technique called fingerprinting - this collects information from the Browser such as Browser Version, Fonts installed, Screen resolution, IP address etc. Anybuild can and remember this combination of attributes which is usually unique for a particular user and device in order to recognize that user as a returning user.</p><p>b)&nbsp;We use cookies and fingerprints to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p><p>c)&nbsp;Overall, cookies and fingerprints help us provide you with a better website by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p><p>d)&nbsp;You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies and fingerprints if you prefer. This may prevent you from taking full advantage of the website.</p>
        </div>
      </article>

      <article id="privacy-control" class="page-terms-article">
        <h2 class="page-terms-h2">7) Controlling your personal information</h2>
        <div class="page-terms-body">
<p>a)&nbsp;You may choose to restrict the collection or use of your personal information in the following ways:</p><p>&nbsp;&nbsp;i)&nbsp;Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes.</p><p>&nbsp;&nbsp;ii)&nbsp;If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by clicking on Unsubscribe at the bottom of marketing messages or by emailing us at mail@onedb.online.</p><p>b)&nbsp;We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information.</p><p>c)&nbsp;Your information is securely stored in Database controlled by Anybuild, 3rd parties do not have access to this. Data for inactive users is deleted within 2 years of inactivity.</p>
        </div>
      </article>

      <article id="privacy-rights" class="page-terms-article">
        <h2 class="page-terms-h2">8) Your data protection rights</h2>
        <div class="page-terms-body">
<p>a)&nbsp;Under data protection law, you have rights including:</p><p>b)&nbsp;Your right of access - You have the right to ask us for copies of your personal information.&nbsp;</p><p>c)&nbsp;Your right to rectification - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.&nbsp;</p><p>d)&nbsp;Your right to erasure - You have the right to ask us to erase your personal information in certain circumstances.&nbsp;</p><p>e)&nbsp;Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal information in certain circumstances.&nbsp;</p><p>f)&nbsp;Your right to object to processing - You have the the right to object to the processing of your personal information in certain circumstances.</p><p>g)&nbsp;Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</p><p>h)&nbsp;You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p><p>i)&nbsp;Please contact us at mail@onedb.online if you wish to make a request.</p>
        </div>
      </article>

      <article id="privacy-complain" class="page-terms-article">
        <h2 class="page-terms-h2">9) How to complain</h2>
        <div class="page-terms-body">
<p>a)&nbsp;If you have any concerns about our use of your personal information, you can make a complaint to us at mail@onedb.online</p><p>b)&nbsp;Please allow 14 days for us to respond if you are still unhappy following our response you can also complain to the ICO The ICO’s address is</p><p>&nbsp;&nbsp;i)&nbsp;Information Commissioner’s Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF</p><p>&nbsp;&nbsp;ii)&nbsp;Helpline number: 0303 123 1113</p><p>&nbsp;&nbsp;iii) Website: https://www.ico.org.uk</p>
        </div>
      </article>
    </div>
  </div>
</section>
